<div class="container-fluid">
  <div class="header">
    <h1>Change Password</h1>
    <p>Please set a new password</p>
  </div>

  <form>
    <div class="form-group">
      <label>New Password:</label><br>
      <input type="password" id="password" class="form-control input-lg" placeholder="New Password">
    </div>
    <div class="form-group">
      <label>Confirm Password:</label><br>
      <input type="password" id="confirmpassword" class="form-control input-lg" placeholder="Confirm Password">
    </div>
    <button type="button" id="changePassword" class="btn btn-lg">CHANGE PASSWORD</button>

    <div class="footer">
      <a routerLink='/login' id="login">Back to Log in</a>
      <a routerLink='/register' id="register">Register</a>
    </div>
  </form>
</div>