.container-fluid{
    width: 100%;
    padding-left: 25%;
    padding-right: 25%;
}
.header{
    text-align: center;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 2%;
}
.footer{
    width: 100%;
    padding-top: 5%;
}
#requestPassword{
    width: 100%;
    background-color: lightslategrey;
    margin-top: 2%;
}
#login{
    float: left;
}
#register{
    float: right;
}