<div class="container-fluid">
  <div class="header">
    <h1>Forgot Password</h1>
    <p>Enter your email address and we'll send a link to reset your password</p>
  </div>

  <form>
    <div class="form-group">
      <label>Enter your email address:</label><br>
      <input type="email" id="email" class="form-control input-lg" placeholder="Email address">
    </div>

    <button routerLink='/changepassword' type="button" id="requestPassword" class="btn btn-lg">REQUEST PASSWORD</button>

    <div class="footer">
      <a routerLink='/login' id="login">Back to Log in</a>
      <a routerLink='/register' id="register">Register</a>
    </div>
  </form>
</div>>
